<% include partials/header %>
<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Welcome to Neo's NoteSpace!</h1>
    <p>To Store your Notes for Future References.</p>
    <p>
        <a class="btn btn-warning btn-large" href="/notes">To My NoteSpace</a>
    </p>
    </div>
</header>
<% include partials/footer %>